*{
    margin:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.navbar{
    height: 60px;
    color: white;
    background:#0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
.nav-logo{
    height: 50px;
    width: 100PX;
    
}
.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    width:100%;
    background-size: cover;
}
.border{
        border: 2PX solid transparent;
}
.border:hover{
    border: 2PX solid white;

}
.add-first{
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(212, 160, 64);
    width: 620px;
    height:40px;
    border-radius: 4px;
    border: 2PX SOLID orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/**box4**/
span{
    font-size: 0.7rem;

}
.nav-second{
    font-size: 0.85rem;
    font-weight: bold;
    
}
.nav-cart i{
    font-size:30px;
    cursor: pointer;
    
}
/**box5**/

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/**panel**/
.panel{
    color:white;
    height: 39px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 58%;
    font-size: 0.85rem;
}

.logo_deals{
    height: 30px;
    width: 400px; 
}
.img-download-app{
    background-image:url("amazon_shopping_made_easy_download_the_app.jpg") ;
    height: 30px;
    width:100%;
    background-size:cover;
    border: 0;
}
    
 /**hero section**/
    .Hero-section{
        height: 400px;
        display: flex;
        
        
       
    }
    .hero-images{
        background-image: url("hero-image-2.jpg");
        height: 380px;
        background-size: cover;
        width: 100%;

    }
    .hero-msg{
        color:#0f1111;
        background-color: white;
        height: 40px;
        width:95%;
        font-size: 0.85rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        position:relative;
        left:20px;
        top:310px;

    }
    .hero-msg a{
        color: #007185;
    }
    /**shop-section**/
    .shop-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #e2e2e2;
    }
.box
{
    border:solid 2px black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 0px 10px 10px 10px;
    margin-top:1rem;
    transition: 0.3s ease, box-shadow 0.3 ease;
}
.box:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transform: scale(1.02);
    
}
/**BOX-IMAGES**/
.box-image{
    height: 280px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 0.85rem;

}
.box-content{
    margin : 0.85rem;
    
}
.box-content p{
    color: #007185 ;
}
.box-content:hover{
    cursor: pointer;
    text-decoration: underline;
}
/**footer**/
footer{
    margin-top: 15px;
}
.foot-panel_1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
.foot-panel_2{
    background-color: #232f3e;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel_3{
    background-color: #232f3e;
    color: #dddddd;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: COVER;

}
.foot-panel_4{
    background-color: #0f1111;
    color:white;
    height: 80px;
    text-align: center;
    font-size: 0.7rem;
    
}
.pages{
    padding-top: 25px; 
}
.copyright{
    padding-top: 5px;
}